
html , body {
  height: 100%;
}
*,
*::after,
::before {
  box-sizing: border-box;
}

main {
  max-width: 100%;
  height: 100%;
}

.back__side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.445);
  z-index: 1;
}

.form {
  display: flex;
  background-color: wheat;
  padding: 12px;
  position: relative;
  z-index: 2;
  max-width: 500px;
  margin: 20% auto;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.hide {
  display: none;
}
input {
  margin-bottom: 7px;
}
button[type=submit] {
  align-self: flex-end;
}
